src/main/webapp/common/views/video_item.html

<div class="video-item"><a href="#">
    <div class="b-img"><img data-ng-src="{{ video.thumbnail }}" alt="{{ video.thumbnail }}"/>
      <div class="time">{{ video.time }}</div>
      <div class="video create"><i class="icon-calendar"></i>{{ video.create }}</div>
      <div class="video viewed"><i class="icon-eye"></i>{{ video.viewed | number}}</div>
    </div></a>
  <div class="b-info">
    <div class="pull-left"><a href="/users/{{ video.author_id }}" class="video name btn btn-link"><i class="icon-user"></i>{{ video.author }}</a></div>
    <div class="rating pull-right">
      <rating data-ng-model="video.rating" max="5" state-on="'icon-starrating checked'" state-off="'icon-starrating'" readonly="true"></rating>
    </div>
  </div>
</div>

src/main/webapp/common/views/jade/video_item.jade
.video-item
  a(href="#")
    .b-img
      img(data-ng-src="{{ video.thumbnail }}" alt="{{ video.thumbnail }}")
      .time {{ video.time }}
      .video.create
        i.icon-calendar
        | {{ video.create }}
      .video.viewed
        i.icon-eye
        | {{ video.viewed | number}}
  .b-info
    .pull-left
      a.video.name.btn.btn-link(href="/users/{{ video.author_id }}")
        i.icon-user
        | {{ video.author }}
    .rating.pull-right
      rating(
        data-ng-model="video.rating"
        max="5"
        state-on="'icon-starrating checked'"
        state-off="'icon-starrating'"
        readonly="true"
      )
