src/main/webapp/modules/home/views/main.html

<div id="home" data-ng-controller="home.ctrl.main" data-ng-cloak="data-ng-cloak" class="home">
  <header data-ng-hide="logged" class="header">
    <div class="container">
      <div class="row">
        <div class="left-side col-md-12 col-sm-12 text-center">
          <h2>Hi, this is a tool by which you can book different stuff</h2><a href="/booking/ping-pong" class="btn btn-green">Start Booking</a>
        </div>
      </div>
    </div>
  </header>
</div>

src/main/webapp/modules/home/views/jade/main.jade
#home.home(data-ng-controller="home.ctrl.main"  data-ng-cloak )
  header.header(data-ng-hide="logged")
    .container
      .row
        .left-side.col-md-12.col-sm-12.text-center
          h2 Hi, this is a tool by which you can book different stuff
          a.btn.btn-green(href="/booking/ping-pong") Start Booking
