src/main/webapp/modules/booking/views/jade/pingPong.jade
.pingPong#pingPong(data-ng-controller="booking.ctrl.pingPong" data-ng-cloak)
  div(data-ng-include="'/modules/booking/views/tabs.html'")
  .container.booking-list#booking-list
    a.btn.btn-green(href="") Book
    ul
      li(data-ng-repeat="pingPongItem in pingPongList.list" data-ng-class="{'current-playing': pingPongItem.current, 'is-you' : pingPongItem.you}")
        span.player-number {{pingPongItem.number}}
        span.player-name {{pingPongItem.name}}
        span.is-playing-item(data-ng-show="pingPongItem.current")  - curent playing
        span.time-left(data-ng-show="pingPongItem.current")  {{pingPongItem.timeLeft + "min"}}
        span.is-you-item(data-ng-show="pingPongItem.you")  - YOU
        .btn.btn-danger(data-ng-show="pingPongItem.you") cancel booking

src/main/webapp/modules/booking/views/pingPong.html

<div id="pingPong" data-ng-controller="booking.ctrl.pingPong" data-ng-cloak="data-ng-cloak" class="pingPong">
  <div data-ng-include="'/modules/booking/views/tabs.html'"></div>
  <div id="booking-list" class="container booking-list"><a href="" class="btn btn-green">Book</a>
    <ul>
      <li data-ng-repeat="pingPongItem in pingPongList.list" data-ng-class="{'current-playing': pingPongItem.current, 'is-you' : pingPongItem.you}"><span class="player-number">{{pingPongItem.number}}</span><span class="player-name">{{pingPongItem.name}}</span><span data-ng-show="pingPongItem.current" class="is-playing-item"> - curent playing</span><span data-ng-show="pingPongItem.current" class="time-left"> {{pingPongItem.timeLeft + "min"}}</span><span data-ng-show="pingPongItem.you" class="is-you-item"> - YOU</span>
        <div data-ng-show="pingPongItem.you" class="btn btn-danger">cancel booking</div>
      </li>
    </ul>
  </div>
</div>
