src/main/webapp/modules/header/views/jade/main.jade
#header.header(data-ng-controller="header.ctrl.main"  data-ng-cloak )
  .container
    .row
      .col-lg-7.col-md-8.col-sm-8.col-xs-2
        a.logo(href='/home')
          img(src="web/img/logo.png" alt="videgee")
        h1.pull-right.hidden-xs {{lang.title}}

      .b-btn.col-lg-5.col-md-4.col-sm-4.col-xs-10
        .buttons
          a.btn.btn-link.v-line(
          data-ng-click="$location.openModal('/login')"
          data-ng-show="btn_login"
          ) {{ lang.login }}
          a.btn.btn-link(
          data-ng-click="$location.openModal('/register')"
          data-ng-show="btn_login"
          ) {{ lang.register }}
          .btn-group(data-ng-show="!btn_login" dropdown)
            button.btn.btn-link.person_name.dropdown-toggle(type="button")
              | {{ user_name }}
              span.caret
            ul.dropdown-menu
              li
                a(href="/profile") {{ lang.profile }}
              li
                a(
                  href="#"
                  data-ng-click="logout()"
                  ) {{ lang.logout }}

src/main/webapp/modules/header/views/main.html

<div id="header" data-ng-controller="header.ctrl.main" data-ng-cloak="data-ng-cloak" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8 col-sm-8 col-xs-2"><a href="/home" class="logo"><img src="web/img/logo.png" alt="videgee"/></a>
        <h1 class="pull-right hidden-xs">{{lang.title}}</h1>
      </div>
      <div class="b-btn col-lg-5 col-md-4 col-sm-4 col-xs-10">
        <div class="buttons"><a data-ng-click="$location.openModal('/login')" data-ng-show="btn_login" class="btn btn-link v-line">{{ lang.login }}</a><a data-ng-click="$location.openModal('/register')" data-ng-show="btn_login" class="btn btn-link">{{ lang.register }}</a>
          <div data-ng-show="!btn_login" dropdown="dropdown" class="btn-group">
            <button type="button" class="btn btn-link person_name dropdown-toggle">{{ user_name }}<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/profile">{{ lang.profile }}</a></li>
              <li><a href="#" data-ng-click="logout()">{{ lang.logout }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
